body {
  margin: 0 0 0 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p--counter {
  font-size: 1.2rem;
}
.button--increment {
  color: white;
  background: #1669d4;
  border: none;
  padding: .5rem 1.5rem;
  border-radius: .2rem;
  cursor: pointer;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
}
.button--increment:hover {
  background: #0f5ab6;
}